# SPDX-FileCopyrightText: Contributors to the HPCToolkit Project
#
# SPDX-License-Identifier: CC0-1.0

__pycache__/
.cache/
compile_commands.json
compile_commands.json~
tmp/

!.editorconfig
!.gitlab-ci.yml
!/.pre-commit-config.yaml
!.pylintrc
!.vermin
