# SPDX-FileCopyrightText: Contributors to the HPCToolkit Project
#
# SPDX-License-Identifier: Apache-2.0

# NB: After updating this file always recompile the sibling requirements.txt, using
# the command listed at the top of that file.

Sphinx>=6.0
myst-parser>=3.0
sphinx-book-theme>=1.0
